{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/styles.css' %}">

</head>
<body>
    <header>
        <h1>EB INFOR SECURITY</h1>
        <nav>
            <ul>
                <li><a href="#">Página Inicial</a></li>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Bem-vindo ao Meu Site</h2>
        <p>Esta é a página principal do meu site. Aqui você encontrará informações sobre nós e como entrar em contato.</p>

        <p>
            "Esteja preparado para se inspirar, pois estamos prestes a mergulhar no mundo de um programador extraordinário - [Seu Nome]. Com uma mente afiada e um amor inigualável pela programação, [Seu Nome] é uma verdadeira força a ser reconhecida no campo da tecnologia.

Uma das características mais notáveis de [Seu Nome] é a sua capacidade de resolver problemas complexos de maneira elegante e eficaz. Quando os outros estão quebrando a cabeça, [Seu Nome] encontra soluções com facilidade, muitas vezes incorporando algoritmos inovadores e abordagens criativas para superar desafios técnicos.

Além disso, [Seu Nome] é um mestre na arte da colaboração. Seu espírito de equipe é incomparável, e ele é conhecido por liderar com empatia e compartilhar seu conhecimento de maneira acessível. [Seu Nome] não apenas escreve código de alta qualidade, mas também inspira seus colegas a fazerem o mesmo.

Uma das maiores realizações de [Seu Nome] é o seu compromisso com o aprendizado contínuo. Em um campo que está sempre evoluindo, [Seu Nome] está constantemente atualizando suas habilidades e se mantendo atualizado com as tendências mais recentes. Ele é um verdadeiro autodidata, disposto a enfrentar qualquer desafio para aprimorar suas habilidades e conhecimentos.
        </p>
    </main>

    <footer>
        <p>&copy; 2023 EB Infor Security</p>
    </footer>
</body>
</html>
